.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem; /* Adjusted for better mobile view */
  color: #ffca28;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

/* Search Bar */
.searchBar {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  padding: 12px;
  width: 300px;
  border: 1px solid #444;
  border-radius: 8px;
  background: #1c1c1c;
  color: #fff;
  transition: box-shadow 0.3s;
}

.searchInput:focus {
  box-shadow: 0 0 10px #ffca28;
  outline: none;
}

.searchButton {
  padding: 12px 20px;
  background-color: transparent;
  border: 2px solid #ffca28;
  color: #ffca28;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.searchButton:hover {
  background-color: #ffca28;
  color: #121212;
  border-color: #ffa726;
}

/* Genre Filter */
.genreFilter {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.genreFilter button {
  padding: 10px 15px;
  border: 2px solid #444;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.genreFilter button:hover {
  border-color: #ffca28;
  color: black;
  background-color: #ffca28;
}

/* Movie Grid */
.movieGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movieCard {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: #2a2a2a;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movieCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 30px rgba(255, 202, 40, 0.5);
}

.moviePoster {
  width: 100%;
  border-bottom: 4px solid #ffca28;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between the buttons */
  align-items: center;
  padding: 10px;
}

.movieTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #ffca28;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.detailsButton {
  padding: 12px 20px;
  background-color: transparent;
  border: 2px solid #ffca28;
  color: #ffca28;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  width: 80%;
}

.detailsButton:hover {
  background-color: #ffca28;
  color: #121212;
  border-color: #ffa726;
}

.removeButton {
  padding: 12px 20px;
  background-color: transparent;
  border: 2px solid #ff5252;
  color: #ff5252;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  width: 80%;
}

.removeButton:hover {
  background-color: #ff5252;
  color: #ffffff;
  border-color: #ff7961;
}

/* Modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.5s ease-in-out;
}

.modalContent {
  position: relative;
  width: 80%;
  max-width: 600px;
  background: #1c1c1c;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.movieOverview {
  margin: 20px 0;
  color: #cccccc;
}

.ratingBadge {
  background: #ffca28;
  color: #121212;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.closeModalButton {
  padding: 10px 20px;
  background-color: #ffca28;
  border: none;
  color: #121212;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.closeModalButton:hover {
  background-color: #ffa726;
  color: #000;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}