.movie-card {
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card-image-wrapper {
  position: relative;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.movie-card-image {
  width: 100%;
  transition: transform 0.3s ease;
}

.movie-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
}

.movie-card-title {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.movie-card-rating {
  font-size: 0.9rem;
  color: #ffca28;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  align-self: flex-start;
}

.movie-card-image-wrapper:hover .movie-card-image {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
}

.movie-card-image-wrapper:hover .movie-card-overlay {
  opacity: 1;
}