.movie-card {
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card-image {
  width: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.movie-card-image:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
}
